{
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "quotes": 0,
    "no-undef": 0,
    "no-console": 0
  },
  "ecmaFeatures": {
    "modules": true,
    "classes": true,
    "experimentalObjectRestSpread": true,
  },
}
